body
{
    background-image: url("images/fondecran.jpg");
    background-attachment: fixed;
    
    color: whitesmoke;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

em
{
    color: black;
}
#presentation
{
    margin-right: 12em;
    width: 22%;
    height: 12%;
}
#ayoubtech
{
    float: left;
    top: 6%;
    left: 3%;
}
h1 a:link, h1 a:visited
{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border: orangered solid 0.2em;
    border-radius: 1.5em;
    padding: 0.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#logo
{
    border: white solid 0.3em;
    border-radius: 1.5em;
    background-color: white;
    position: absolute;
    top: 6%;
    right: 4%;
    
}

#login
{
    width: 30%; height:28%;
    padding-right: 4%;
   
}
#panier 
{
    width: 30%; height:30%;
    padding-left: 4%;
    border-left: solid black 0.2em;
}

#barre_recherche
{
    position:relative; width: 45%; height: 45px;
    font-size: 16px;
    text-align: center;
    border-radius: 1em;
}
#bouton_recherche
{
     font-size: 2.175em;
     text-decoration: none;
     border: white solid 0.2em;
     background-color: white;
     border-radius: 0.4em;

     
}


button a:link, button a:visited
{
    text-decoration: none;
    color: black;
}

nav
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
nav li
{
    text-align: center;
    display: inline-flex;
    margin-right: 2em ;
    
}
nav li a:link, nav li a:visited
{
    text-decoration: none;
    color: black;
    background-color: orangered;
    border: 0.3em solid orangered;
    border-radius: 1.5em;
    padding: 1.5em;   
}
header
{
    text-align: center;
    margin-bottom: 2em;
}

.tete
{
    display: inline-block;
    width: 100%;
    
}
h2
{
    border: lightcoral solid 0.2em;
    border-radius: 1.5em;
    padding: 0.2em;
    background-color: lightcoral;
    margin-bottom: 2em;
}
section h3
{
text-align: right;
margin-right: 10%;
margin-bottom: 2em;
}

section h3 a:link, section h3 a:visited
{
    text-decoration: none;
    color: black;
    border: white solid 0.2em;
    background-color: white;
    padding: 0.3em;
    border-radius: 1.5em;
}
section
{
    text-align: center;
}
section a img
{
    max-width: 22%;
    height: auto;
    border: solid 0.3em maroon;
    background-color: whitesmoke;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}  

.resultats
{
    text-align: center;
}
.resultats img
{
    max-width: 22%;
    height: auto;
    border: solid 0.3em maroon;
    background-color: whitesmoke;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
footer
{   
    margin-top: 2em;
    background-color: lightgrey;
    text-align: center;
    padding: 1em;
    float: inline-start;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
footer a:link, footer a:visited
{
    text-decoration: none;
    color: white;
}

footer img
{
    width: 5%;
    height: 5%;
}  

footer ul
{
    list-style-type: none;
    padding-left: 0%;
}

#pages a:link, #pages a:visited
{
    text-decoration: none;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
}
#pages div
{
    display: inline-flex;
    border: white solid 0.3em;
    border-radius: 1em;
    background-color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.connexion table 
{
    text-align: center;
    font-size: 2.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid 0.3em lightcoral;
    border-radius: 2em;
    padding: 0.7em;
    background-color: lightcoral;
    margin: 0 auto;
    margin-bottom: 1em;
}
table input
{
    width: 14em;
    height: 3em; 
}
table button
{
    width: 14em;
    height: 3em;
}
#description
{
    background-color: white;
    color: black;
    border-radius: 2em;
    padding: 3em;
    margin-bottom: 2em;
}

#description h2
{
    color: white;
    text-align: center;
}

article table
{
    border-collapse: collapse;
    background-color: white;
    color: black;
    margin-top: 2em;

}
article h3
{
    clear: both;
}

article th, article td
{
    border: black solid 0.150em;
    padding: 0.5em;
}
#img-article
{
    float: left;
    margin-right: 4em;
}
#description-article
{
    padding-top: 3em;
}
#section-article
{
    background-color: lightcoral;
    padding: 2em;
    border-radius: 2em;
}
#section-article h2
{
    text-align: center;
    border: white solid 0.2em;
    background-color: white;
    color: black;
}
#sect_CP
{
    display: flex
}
#sect_commande
{
   margin: 3em;
}

#sect_paiement
{
    margin: 3em;
}

section h4
{justify-content: center;}
#validation_achat
{
    text-align: right;
    margin-right: 6em;
}
#validation_achat a:link, #validation_achat a:visited
{
    text-decoration: none;
    background-color: chocolate;
    border: chocolate solid 0.2em;
    color: black;
    padding: 0.2em;
    border-radius: 2em;
    font-size: 1.4em;
    
}
#bouton_commander
{
    text-align: right;
}
#bouton_commander a:link, #bouton_commander a:visited
{
    text-decoration: none;
    color: black;
    border: chocolate solid 0.2em;
    border-radius: 2em;
    background-color: chocolate;
    padding: 0.2em;
    font-size: 1.6em;
}

#qui
{
    background-color: white;
    color: black;
    padding: 3em;
    border-radius: 2em;
    display: table-cell;
}
#qui img
{
    width: 30%;
    height: auto;
}
#usine
{
    float: left;
    margin-right: 1.5em;
}
#qui1
{
    margin-left: 4em;
    margin-bottom: 8em;
    
}
#qui2
{
    margin-bottom: 8em;
    padding-top: 4em;
}
#qui3
{
    padding-top: 3em;
}
#composants
{
    float: right;
    margin-left: 1.5em;
}
#createurs
{
    float: left;
    margin-right: 1.5em;
}
#fin
{
    text-align: center;
}





















@media (min-width:340px) and (max-width:820px)
{
    body
    {
        width:100%;
        margin:0em;
    }
    header
    {
        width: 100%;
    
    }
   

    #presentation
    {
       
        width: 35%;
        height: 12%;
    }
    #ayoubtech
    {
        width:10%;
        margin-left:20%;
    }

    #logo
    {
        border: white solid 0.3em;
        border-radius: 1.5em;
        background-color: white;
        position: absolute;;
        top: 15%;
        right: 4%;
        max-width: 30%;
        
    }

    #barre_recherche
    {
        width: 80%;
    }

    #bouton_recherche
    {
        width: 10%;
    }


    nav ul 
    {
        width: 100%;
        display: flex;
       align-items: flex-start;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    nav li 
    {
        padding-right: 1.5em;
    }
    #img-article
    {
        width: 200px;
        height: 200px;
        margin: unset
    }
    #description-article
    {
        clear: both;
    }
    #bouton_commander
    {
        margin-top: 2em;
        font-size: 1em;
    }
    #sect_CP
    {
        display: block;
    }
    #validation_achat
    {
        margin: unset;
        text-align: center;
    }
    #sect_commande
    {
        margin: unset;
        float: none;
        overflow: scroll;
    }

    #setc_paiement
    {
        margin: unset;
        float: none;
    }
    #qui p
    {
        margin: unset;
        padding: unset;
        margin-bottom: 2em;
    }
    #qui img
    {
        float:unset;
        width: 180px;
        height: 100px;
        margin: unset
    }



}




@media (min-width:760px) and (max-width:1030px)
{
    body
    {
        width:100%;
        margin:0em;
    }
    header
    {
        width: 100%;
    }
    #presentation
    {
       
        width: 35%;
        height: 12%;
        margin: unset;
    }
    #ayoubtech
    {
        margin: unset;
        margin-top: 1em;
        margin-left: 0.5em;
        float: left;
        
    }

    #logo
    {
        margin: unset;
        top: 3%;
        right: 2%;
    }

    #barre_recherche
    {
        width: 65%;
        margin-top: 4%;
    }

    #bouton_recherche
    {
        width: 10%;
    }


    nav ul 
    {
        width: 100%;
        display: flex;
       align-items: flex-start;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    nav li 
    {
        padding-right: 1.5em;
    }

    #sect_commande
    {
        margin: unset;
        float: none;
        display: inline flow-root;
    }

    #sect_paiement
    {
        margin: unset;
        float: none;
        display: inline flow-root;
    }

    #validation_achat
    {
        margin-top: 2em;
    }

    #img-article
    {
        margin-right: 3em;
        margin-bottom: 3em;
    }
    #description-article
    {
        clear: unset;
        
    }

}